<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
       default-init-method="turnOnLights"
       default-destroy-method="turnOffLights">

    <bean id="city"
          class="com.springination.springidol.City"/>

    <util:list id="cities">
        <bean class="com.springination.springidol.City"
              p:name="Chicago" p:state="IL" p:population="2853114"/>
        <bean class="com.springination.springidol.City"
              p:name = "Moscow" p:state="RU" p:population="2564855"/>
    </util:list>


</beans>

